<form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
  <h3>Logowanie</h3>
  <hr />
  <div class="form-group">
    <label for="exampleInputEmail1">Nazwa użytkownika</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="username"
      [class.is-invalid]="
        !authForm.get('username').valid && authForm.get('username').touched
      "
    />
    <small id="emailHelp" class="form-text text-muted"
      >Nie przekażemy nikomu Twojego emaila.</small
    >
    <span
      *ngIf="
        !authForm.get('username').valid && authForm.get('username').touched
      "
      class="invalid-feedback"
      >Podaj poprawny email.</span
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Hasło.</label>
    <input
      type="password"
      class="form-control"
      [class.is-invalid]="
        !authForm.get('password').valid && authForm.get('password').touched
      "
      id="exampleInputPassword1"
      formControlName="password"
    />
    <span
      *ngIf="
        !authForm.get('password').valid && authForm.get('password').touched
      "
      class="invalid-feedback d-block"
      >To pole jest obowiązkowe.</span
    >
  </div>

  <button
    type="submit"
    class="btn btn-primary standard-btn"
    [disabled]="!authForm.valid"
  >
    Wyślij
  </button>

  <button
    type="button"
    class="btn btn-secondary switch-btn"
    (click)="switchMode()"
  >
    Przejdź do {{ inLoginMode ? "rejestracji" : "strony logowania" }}.
  </button>
</form>
