<form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
  <h3>Log in</h3>
  <hr />
  <div class="form-group">
    <label for="exampleInputEmail1">Email address / login</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
      [class.is-invalid]="
        !authForm.get('email').valid && authForm.get('email').touched
      "
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
    <span
      *ngIf="!authForm.get('email').valid && authForm.get('email').touched"
      class="invalid-feedback"
      >Please enter a valid email</span
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      [class.is-invalid]="
        !authForm.get('password').valid && authForm.get('password').touched
      "
      id="exampleInputPassword1"
      formControlName="password"
    />
    <span
      *ngIf="
        !authForm.get('password').valid && authForm.get('password').touched
      "
      class="invalid-feedback d-block"
      >Please enter a password</span
    >
  </div>

  <button
    type="submit"
    class="btn btn-primary standard-btn"
    [disabled]="!authForm.valid"
  >
    Submit
  </button>
</form>
