<div class="container">
  <div class="row header">
    <h1>
      Znaleźliśmy
      <span class="badge badge-secondary offers-count"> 10</span> ofert w Twojej
      okolicy!
    </h1>
  </div>

  <div class="offers-container">
    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1499636136210-6f4ee915583e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ciastka porzeczkowe</h5>
        <p class="card-text">
          Połączenie porzeczek i pulchnego ciasta
        </p>
        <a href="#" class="btn btn-primary more-info-btn">Więcej ...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1558961363-fa8fdf82db35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ciastka porzeczkowe</h5>
        <p class="card-text">
          Połączenie porzeczek i pulchnego ciasta
        </p>
        <a href="#" class="btn btn-primary more-info-btn">Więcej ...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1532499016263-f2c3e89de9cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ciastka porzeczkowe</h5>
        <p class="card-text">
          Połączenie porzeczek i pulchnego ciasta
        </p>
        <a href="#" class="btn btn-primary more-info-btn">Więcej ...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1475856033578-76b4a228f5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ciastka porzeczkowe</h5>
        <p class="card-text">
          Połączenie porzeczek i pulchnego ciasta
        </p>
        <a href="#" class="btn btn-primary more-info-btn">Więcej ...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1489069313310-63735a4f3010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ciastka porzeczkowe</h5>
        <p class="card-text">
          Połączenie porzeczek i pulchnego ciasta
        </p>
        <a href="#" class="btn btn-primary more-info-btn">Więcej ...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1550587850-e025c82d8b6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Ciastka porzeczkowe</h5>
        <p class="card-text">
          Połączenie porzeczek i pulchnego ciasta
        </p>
        <a href="#" class="btn btn-primary more-info-btn">Więcej ...</a>
      </div>
    </div>
  </div>
</div>
