<div class="container">
  <div class=" header">
    <h1>
      Znaleźliśmy
      <span class="badge badge-secondary offers-count">
        {{ visibleOffers?.length }}</span
      >
      ofert w Twojej okolicy!
    </h1>
    <br />
    <p>
      <a [routerLink]="['/map']">Kliknij, żeby zobaczyć je na mapie.</a>
    </p>
  </div>

  <div>
    <input
      class="form-control mr-2 nav-item search-container__input"
      type="search"
      placeholder="Filtruj"
      aria-label="Search"
      (input)="onFilterChange($event.target.value)"
    />
  </div>

  <div class="offers-container">
    <div *ngFor="let offer of visibleOffers" class="card" style="width: 18rem;">
      <img [src]="offer.imageUrl" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ offer.title }}</h5>
        <p class="card-text">
          {{ offer.description }}
        </p>
        <a
          href="#"
          [routerLink]="['/offers', offer.id]"
          class="btn btn-primary more-info-btn"
          >Więcej ...</a
        >
      </div>
    </div>
  </div>
</div>
