<div class="container">
  <div class="row header">
    <h1>
      Znaleźliśmy
      <span class="badge badge-secondary offers-count">
        {{ (offers | async)?.length }}</span
      >
      ofert w Twojej okolicy!
    </h1>
  </div>

  <div class="offers-container">
    <div
      *ngFor="let offer of offers | async"
      class="card"
      style="width: 18rem;"
    >
      <img [src]="offer.imageUrl" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ offer.title }}</h5>
        <p class="card-text">
          {{ offer.description }}
        </p>
        <a href="#" class="btn btn-primary more-info-btn">Więcej ...</a>
      </div>
    </div>
  </div>
</div>
