/* You can add global styles to this file, and also import other style files */

@import "~leaflet/dist/leaflet.css";

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 1em;
}

.standard-btn {
  background: #e54b4b !important;
  border-color: #e54b4b !important;
}
