<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Ciastkazon</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['offers']">Lista ofert</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['auth']">Logowanie / rejestracja</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" [routerLink]="['sell']">Sprzedaj ciastko</a>
      </li>
    </ul>

    <div class="nav-functional ml-auto navbar-nav">
      <div class="nav-item">
        <a
          *ngIf="!userName; else elseBlock"
          class="nav-link"
          [routerLink]="['login']"
          >Log In</a
        >

        <ng-template #elseBlock>
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
            >
              {{ userName }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#" [routerLink]="['/summary']"
                >Podsumowanie</a
              >
              <a class="dropdown-item" href="#" (click)="logOut()">Wyloguj</a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
